<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>frwk blog</title>
	</head>
	<body>
		<div th:switch="${comentarios}">
      		<div>
          		<h2>Comments</h2>
          		<table>
              		<thead>
                   	<tr>
                        <th>Created</th>
                        <th>Comment</th>
                   	</tr>
              		</thead>
                <tbody>
                	<tr th:each="comentario : ${postDTO.post.comentarios}">
		                    <td th:text="${comentario.horarioFormatado}"></td>
		                    <td th:text="${comentario.conteudo}"></td>
	                    <td>
	                    	<a th:href="@{/editComentario/{id}(id=${comentario.id})}">Edit</a>
	                        <a th:href="@{/deleteComentario/{id}(id=${comentario.id})}">Delete</a>
	                    </td>
                	</tr>
            	</tbody>
      			</table>
  			</div>      
    		<div>	
    			New Comment
    			<form action="#" th:action="@{/submitComentarioDTO}" th:object="${postDTO}" method="post">
				    <input type="hidden" th:field="*{post.id}" id="post.id" placeholder="post.id">
				    <input type="hidden" th:field="*{comentario.id}" id="comentario.id" placeholder="comentario.id">
				    <label for="conteudo">Content</label>
				    <textarea th:field="*{comentario.conteudo}" id="comentario.conteudo" ></textarea>
			    	<input type="submit" value="Submit">   
				</form>
			</div>
		</div>	
	</body>
</html>