<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>frwk blog</title>
	</head>
	<body>
		<form action="#" th:action="@{/submitAlbum}" th:object="${album}" method="post">
		    <input type="hidden" th:field="*{id}" id="id" placeholder="id">
		    <label for="nome">Name</label>
		    <input type="text" th:field="*{nome}" id="nome" placeholder="nome">
		    <label for="descricao">Description</label>
		    <textarea th:field="*{descricao}" id="descricao" placeholder="descricao"></textarea>
	    	<input type="submit" value="Submit">   
		</form>
	</body>
</html>