<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>frwk blog</title>
	</head>
	<body>
		<div th:switch="${fotos}">
      		<div>
          		<h2>Photos</h2>
          		<table>
              		<thead>
                   	<tr>
                        <th>Created</th>
                        <th>Description</th>
                   	</tr>
              		</thead>
                <tbody>
                	<tr th:each="foto : ${albumDTO.album.fotos}">
		                    <td th:text="${foto.horarioFormatado}"></td>
		                    <td th:text="${foto.descricao}"></td>
	                    <td>
	                    	<a th:href="@{/editFoto/{id}(id=${foto.id})}">Edit</a>
	                        <a th:href="@{/deleteFoto/{id}(id=${foto.id})}">Delete</a>
	                    </td>
                	</tr>
            	</tbody>
      			</table>
  			</div>      
    		<div>	
    			New Photo
    			<form action="#" th:action="@{/submitAlbumDTO}" th:object="${albumDTO}" method="post">
				    <input type="hidden" th:field="*{album.id}" id="album.id" placeholder="album.id">
				    <input type="hidden" th:field="*{foto.id}" id="foto.id" placeholder="foto.id">
				    <label for="descricao">Description</label>
				    <textarea th:field="*{foto.descricao}" id="foto.descricao" ></textarea>
			    	<input type="submit" value="Submit">   
				</form>
			</div>
		</div>	
	</body>
</html>