<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
		<script src="posts-angular.js"></script>
		
		<!-- Bootstrap CSS -->
		<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/blog/">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<!-- Custom styles for this template -->
	    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
	    <!-- Custom styles for this template -->
	    <link href="blog.css" rel="stylesheet">
		<link rel="stylesheet" href="./minified/themes/default.min.css" id="theme-style" />
		
		<title>frwk blog</title>
	</head>
	<body ng-app="Post" ng-controller="PostController">
		<div class="container">
			<header class="blog-header py-3">
    			<div class="row flex-nowrap justify-content-between align-items-center">
	      			<div class="col-4 pt-1">
	        			<a class="link-secondary" href="#"></a>
	      			</div>
				    <div class="col-4 text-center">
				    	<a class="blog-header-logo text-dark" href="#"></a>
				    </div>
    			</div>
 			</header>
 			<div class="nav-scroller py-1 mb-2">
    			<nav class="nav d-flex">
			      	<a class="p-2 link-secondary" href="/">Posts</a>
		      		<a class="p-2 link-secondary" href="indexAlbuns">Álbuns   </a>
    			</nav>
  			</div>
		</div>
		<main class="container">
  			<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    			<div class="col-md-6 px-0">
		      		<h1 class="display-4 fst-italic">frmk Blog</h1>
			      		<p class="lead my-3">Entrada de Posts<br></p>
			      		<p class="lead mb-0"><p class="text-white fw-bold">Por favor, insira ou altere o post desejado e clique em submit.</a></p>
    			</div>
  			</div>
  			<article class="blog-post">
				<table class="table">
					<form ng-submit="submitPost()">
						<tr><th></th><td><input type="hidden" ng-model="post.id" id="id"></td></tr>
						<tr><th>Assunto:</th><td><input type="text" ng-model="post.assunto" id="assunto" style="width: 860px"/></td></tr>
						<h3 class="pb-8 mb-8 fst-italic border-bottom"></h3>
						<tr><th>Conteúdo:</th><td><textarea rows="6" cols="120" ng-model="post.conteudo" id="conteudo"></textarea></td></tr>
	      				<h3 class="pb-8 mb-8 fst-italic border-bottom"></h3>
						<tr><th>Enviar Post:</th><td><input type="submit" value="submit"/></td></tr>
					</form>
				</table>
			</article>
		</main>
	</body>
</html>